.loginPage {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    background-color: #cfc6b7;

    .loginForm {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        margin-top: 30px;

        .inputItem {
           margin: 10px 0px 20px 0px;
            width: 500px;
            border-radius: 8px;
            border-color: transparent;
        }
    }

}


