.cardField {
    margin: 30px;
    Row {
        margin: 20px;
    }
    
    .card-body {
        margin-bottom: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .card-body:hover {
        background-color: #e2a11d;
    }

    .card-body:active {
        background-color: #84bda8;
    }
}