.storyRow {
    .storyRowItem {
        margin: 15px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        color: #4077bf;
        font-weight: 600;
    }
    .storyRowItem:hover {
        margin-left: 50px;
        color: #e2a11d;
    }
    .storyRowFooter {
        font-size: 11px;
        color: gray;
    }
}

.storyRow.open {
    .storyRowItem {
        margin: 15px;
        border-color: transparent;
        color: #e2a11d;
        font-weight: 600;
    }
}